body{
    padding: 25px;
}
.container {
    display : flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;

    flex-wrap: wrap;
    background-color:gainsboro;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: aquamarine;
}

.item{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    background-color: blue;

}

@media ( max-width: 425px){
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px){
    .container{
        grid-template-columns:repeat(3, 1fr);
    }
}